.container {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  grid-template-rows:repeat(6,150px);
  grid-auto-rows:150px;
  grid-auto-flow:dense;
}

#title {
  grid-column-end:-1;
  grid-column-start:1;
}

.friend {
  grid-row:span 1;
  grid-column: span 1;
}

.sibling{
grid-column: span 2;
grid-row:span 1;
}

.grandparents{
grid-row:span 2;
grid-column:span 2;
}

.auntsuncles{
grid-row:span 2;
grid-column: span 1;
}